/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    background: #fff;
    color: #666666;
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
  }

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
.navbar {
    background-color: black;
}
.nav-link {
    color: #fff ! important;
}

.navbar-toggler {
    border-color: #fff;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
 
section.banner {
    background-image: url("../img/bg-img/bg-1.png");
    margin-top: 0px;
    height: 90vh;
    color: #fff;
    font-weight: lighter;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
   
}

.header p{
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
}

.btn {
    color: #fff;
    border-color: #fff;
}

/*--------------------------------------------------------------
# Our Process
--------------------------------------------------------------*/
.process h2 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color:#000;
    /* color: #7a7a7a; */
}

.process img {
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.process p {
    color: #cfcfd1;
    font-weight: 500;
}

/* our process cards */
.card {
    border: none;
}

.card-img-top {
    display: block;
    margin: auto;
    width: 20%;
}

.card-title {
    text-align: center;
    font-weight: bold;
    color: black;
}

.card-text {
    text-align: center;
    font-size: smaller;
    font-weight: 500;
    color: #d6d6d7;
}

/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/
 #pricing {
    background-color: #f5f5f5;
    width: 100%;
    padding-bottom: 150px;
}

.pricing {
    margin-top: 0px;
}

.pricing h2 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding-top: 80px;
    color:#000;
}

.pricing img {
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.pricing p {
    color: #cfcfd1;
}

/* Pricing Slot */
.pricing-slot {
    margin-top: 100px;
}

/* Slot 1 */
.list-group-item-header {
    background-color: #333333;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    height: 50px !important;
    color: #fff;
    text-decoration: none;
    list-style: none;
    margin-bottom: 2px;
    
}

.list-group-item-header img {
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
}

.list-group-item-header p {
    margin-top: 10px;
    color: #fff;
}

.list-group-item-costo {
    background-color: #333333;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    height: 90px !important;
    color: #fff;
    text-decoration: none;
    list-style: none;
    margin-bottom: 2px;
}

.list-group-item-sub {
    background-color: #333333;
    text-align: center;
    height: 50px !important;
    color: #7a7a7a;
    text-decoration: none;
    list-style: none;
}

.list-group-item-sub img {
    width: 100%;
    margin-left: 0px;
    margin-top: -3px;
}

.list-group-item-sub p {
    margin-top: 10px;
    font-size: 15px;
    font-style: italic;
}

/* Slot 2 */
.card-slot-2{
    margin-top: -50px;
}
.list-group-item-2-header {
    background-color: #333333;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    height: 50px !important;
    color: #fff;
    text-decoration: none;
    list-style: none;
    margin-bottom: 2px;
}

.list-group-item-2-header img {
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
}

.list-group-item-2-header p {
    margin-top: 10px;
    color: #fff;
}

.list-group-item-2-costo {
    background-color: #333333;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    height: 90px !important;
    color: #fff;
    text-decoration: none;
    list-style: none;
    margin-bottom: 2px;
}

.list-group-item-2-sub {
    background-color: #333333;
    text-align: center;
    font-style: italic;
    height: 50px !important;
    color: #7a7a7a;
    text-decoration: none;
    list-style: none;
    margin-top: 0px;
}

.list-group-item-2-sub p {
    margin-top: 10px;
    font-size: 15px;
    /* font-family: 'Raleway', sans-serif; */
    font-style: italic;
}

.list-group-item-2-our {
    background-color: #333333;
    text-align: center;
    font-style: italic;
    height: 50px !important;
    color: #7a7a7a;
    text-decoration: none;
    list-style: none;
}

.list-group-item-2-our img {
    margin-left: -2px;
    margin-top: -65px;
    z-index: 0;
}

.list-group-item-2-our p {
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    z-index: 1;
}


/* Slot 3 */
.list-group-item-3 {
    background-color: #333333;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    height: 50px !important;
    color: #fff;
    text-decoration: none;
    list-style: none;
    margin-bottom: 2px;
}

.list-group-item-3 img {
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
}

.list-group-item-3 p {
    margin-top: 10px;
    color: #fff;
}

.list-group-item-3-costo {
    background-color: #333333;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    height: 90px !important;
    color: #fff;
    text-decoration: none;
    list-style: none;
    margin-bottom: 2px;
}

.list-group-item-3-sub {
    background-color: #333333;
    text-align: center;
    height: 50px !important;
    color: #7a7a7a;
    text-decoration: none;
    list-style: none;
}

.list-group-item-3-sub img {
    width: 100%;
    margin-left: 0px;
    margin-top: -3px;
}

.list-group-item-3-sub p {
    margin-top: 10px;
    font-size: 15px;
    /* font-family: 'Raleway', sans-serif; */
    font-style: italic;
}

/*--------------------------------------------------------------
# Custon Section
--------------------------------------------------------------*/
#custon {
    background-image: url("../img/bg-img/u25_state0.jpg");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 50vh;
}

#custon:before {
	content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.6);
}

.custon h2 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: #fff;
}

.custon img {
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.custon p {
    color: #f5f5f5;
}

.btn-custon {
    border-color: #fff;
    color: #fff;
    border-radius: 0px;
    display: block;
    margin: auto;
}

/*--------------------------------------------------------------
# Contact Us
--------------------------------------------------------------*/
.contact h2 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding-top: 80px;
    color:#000;
}

.contact img {
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contact p {
    color: #cfcfd1;
}

.input {
   width: 100%;
   padding-top: 25px;
   /* outline: none; */
   border: none;
   /* border-bottom: 1px; */
}

.input2 {
    width: 100%;
    border: none;
    padding-top: 28px;
    margin-left: 20px;
}

.btn-contact{
    display: block;
    margin: auto;
    background-color: #ff9b51;
    color: #fff;
}

.contactus{
    margin-top: 50px;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer{
    background-color: #000;
    color: #5a5a5a;
    height: 150px;
    font-weight: 500;
}

